.container{
  width: 80%;
  margin: 0 auto;
}

.sopra {
    border-width: 0; margin: 0; padding: 0;
    position: absolute; top: 15px; left: 160px;
    text-align: center;
    height: 80px; width: 160px;
    }


.dietro {
height: 100px;
width: 100%;
background-color: rgb(79, 143, 222);
background-image: url('../img/pattern.png');
background-repeat: repeat-x;
background-size: contain;
}
.info{
 
  font-size: small; color: darkgrey;
}
.mini-info{
  font-size:smaller;
  color: darkgrey;
}
.photodetails{
  font-size: 10px;
 font-family: 'Times New Roman', Times, serif;

}
ul{
  padding: 0; margin: 0;
}
li{
  list-style-type: none
}

.scuretta{
background-color: #20a9e5;
color: white;
text-align: left;
}

.azzurra{
  background-color: rgb(104, 151, 213);

}
td{
  padding: 30px;
  
}
.scritta-finale{
  color: #887979;
}
.wrap-conclusione{
  padding: 0;
  margin: 0;
}
.testo-interno{
  position: absolute;
  margin-top: -15%;
  color: white;
  font-size: small;

}